<launch>

<!-- <node name="listener" pkg="ros_mpi" type="listener.py" output = "screen"/>
<node name="talker" pkg="ros_mpi" type="talker.py"/> -->
<node name="talker" pkg="ros_mpi" type="do_nothing.py"/>
  <!--<node name="cadrl_avodiance" pkg="smile_mobile_dynamic" type="cadrl_custom.py"/>-->
</launch>
